# Environment and secrets
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor files
.idea/
.vscode/

# OS 
.DS_Store
Thumbs.db
