<!--
Tutorial from Creative Babar -->

<!-- type 'open index.html' in terminal to see in browser! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalGetter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/style.css"> <!--'../' means to go out of current file -->
</head>
<body>

    <div class="container">
        <aside>
            <div class="top">

                <div class="logo">
                    <h2>Goal<span class="danger">Getter</span></h2>
                </div>
                <div class="close">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
            <!-- End of top section -->

            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-outlined">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">fitness_center</span>
                    <h3>Workouts</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">chef_hat</span>
                    <h3>Nutritional Meals and Recipes</h3>
                </a>
                 <a href="#">
                    <span class="material-symbols-outlined">contact_support</span>
                    <h3>Support</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">settings</span>
                    <h3>settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>logout</h3>
                </a>

            </div>

        </aside>

        <main>
            <h1>Main</h1>
        </main>

            <div class="right">
                <h1>Right</h1>
            </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>