{% extends "layout.html" %}

{% block title %}
    Nutritional Meals & Recipes
{% endblock %}

{% block main %}

<!-- Boostrap grid view of available recipes and meals-->
    <div class="container">
        <div class="row">
            <div class="card-columns">

                <div class="card">
                    <div class="card-body">
                        <img src="../static/test_meal_image_one.jpeg" alt="Image" width="100%">
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <img src="../static/test_meal_image_two.jpeg" alt="Image" width="100%">
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <img src="../static/test_meal_image_three.jpeg" alt="Image" width="100%">
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}