{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

<!-- HTML post form for users to submit an issue (for stakeholder perspective - shows industry-standard web application feature.
     Also helps with updating the system, keeping functionality of the web application, for consistent improvement. -->

    <div class="content">
        <div class="row justify-content-center">
        <div class="card shadow-sm">
                    <div class="card header">
                        <h3 class="mb-0">Contact Support</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/support" method="post">
                            <label>
                                <input type="text" name="name" placeholder="Enter Fullname..." required>
                            </label>
                            <br>
                            <label>
                                <input type="email" name="email" placeholder="Enter Email..." required>
                            </label>
                            <br>
                            <label class="form-label fw-semibold">
                                <textarea name="message" class="form-control" rows="4" placeholder="Type your message here..." required></textarea>
                            </label>
                            <br>

                            <label for="ticket-type" class="form-label"> Issue Type:</label>
                            <select class="form-select" id="ticket-type" name="support_category">
                                <option value="" disabled selected class="text-muted">Choose an issue type...</option>
                                <option value="bug">Report a Bug</option>
                                <option value="login">Login Issue</option>
                                <option value="other">Other Support</option>
                            </select>

                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            </form>

                    </div>
        </div>
        </div>
    </div>

{% endblock %}