{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

<!-- HTML post form for users to submit an issue (for stakeholder perspective - shows industry-standard web application feature.
     Also helps with updating the system, keeping functionality of the web application, for consistent improvement. -->

        <div class="card shadow-sm border-0 mx-auto" style="max-width: 600px;">
                    <div class="card-header p-3">
                        <h3 class="mb-0 fw-bold">Contact Support</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/support" method="POST">

                            <div class="mb-3">
                                <label class="form-label fw-bold text-secondary small">Full Name:</label>
                                <input class="form-control p-2" type="text" name="name" placeholder="Enter Full Name..." required>
                            </div>
                            <br>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-secondary small">Email Address:</label>
                                <input class="form-control p-2" type="email" name="email" placeholder="Enter Email..." required>
                            </div>
                            <br>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-secondary small">Your Message:</label>
                                <textarea name="message" class="form-control p-2" rows="4" placeholder="Type your message here..." required></textarea>
                            </div>
                            <br>

                            <div class="mb-4">
                                <label for="ticket-type" class="form-label fw-bold text-secondary small"> Issue Type:</label>
                                <select class="form-select p-2" id="ticket-type" name="support_category">
                                    <option value="" disabled selected class="text-muted">Choose an issue type...</option>
                                    <option value="bug">Report a Bug</option>
                                    <option value="account">Account Issue</option>
                                    <option value="other">Other Support</option>
                                </select>
                            </div>
                            <br>
                            <button class="btn btn-primary w-100 fw-bold p-2" type="Submit Ticket">Submit</button>
                            </form>

                    </div>
        </div>

{% endblock %}